* {
  font-family: helvetica, sans-serif;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

h1,
h2 {
  text-align: center;
  color: white;
}

h2 {
  margin-bottom: 0;
}

header section nav ul .mark {
  text-align: center;
  margin-right: 3.25%;
}
header nav ul,
nav:active ul {
  display: none;
}

#topMenuButton {
  float: right;
  padding: 0.5rem 0.8rem 0.5rem 0.8rem;
  text-decoration: none;
  color: white;
  border: 0.1rem solid grey;
  border-radius: 0.4rem;
}

a:hover #topMenuButton {
  background-color: black;
}

#topNav {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

#topNav ul {
  background-color: darkolivegreen;
  padding: 1rem;
}

#topNav ul li {
  display: block;
  list-style-type: none;
  color: white;
  padding: 1rem;
}

#topNav ul li a {
  display: block;
  color: white;
  text-decoration: none;
  list-style: square;
}

@media (min-width: 768px) {
  nav ul,
  nav:active ul {
    display: none;
  }
  nav ul li a:hover {
    background-color: grey;
  }
  nav:hover ul {
    display: inline-block;
  }
}

header nav ul li a:hover {
  background-color: black;
}

nav:hover ul {
  display: inline-block;
}

.grey {
  background-color: grey;
}

.white {
  background-color: whitesmoke;
}
